.inProgress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.tasks-buttons button {
  margin-left: 10px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  padding: 4px 10px;
  cursor: pointer;
}
